.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.header-icon-menu {
  display: none;
}

.header-container ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container ul li {
  cursor: pointer;
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}

.header-container ul li:hover {
  color: var(--Soft-red);
}

@media screen and (max-width: 375px) {
  .header-container {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .header-icon-menu {
    display: block;
  }

  .header-container nav {
    display: none;
  }
}
